label{
    font-size: 14;
}

input[type=text], input[type=email],input[type=password],input[type=date],input[type="number"]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
   
  }
  
  input:focus {
    outline: 0;
    border-color: #6B68E7;
  }

  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #6B68E7;
    color: white;
    padding: 12px 20px;
    font-weight: bold;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    border: 2px solid lightgray;
    transition: 0.4s all ease-in-out;
  }
  input[type=submit]:hover{
    opacity: 0.7;
  }

  
  /* Style the container */
  .container {
    border-radius: 5px;
    position: relative;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  
  
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75 {
      width: 100%;
      margin-top: 0;
    }
    input[type=submit]{
        width: 100%;
    }
  }