*{
    font-family: 'Maven Pro', sans-serif;
}

h1 {
    font-size: 25px;
}

.header{
    background-color: #6B68E7;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}
.header a{
    text-decoration: none;
    color: #1a1930;
    background-color: white;
    font-size: 14px;
    border: 2px solid lightgray;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    transition: 0.4s all ease-in-out;
}

.header a:hover{
    opacity: 0.6;
}