:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

*{
    font-family: 'Maven Pro', sans-serif;
    text-decoration: none;
  }
  
  h1 {
    font-size: 25px;
}

.header{
    background-color: #6B68E7;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}
.header a{
    text-decoration: none;
    color: #6B68E7;
    background-color: white;
    font-size: 14px;
    border: 2px solid lightgray;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    transition: 0.4s all ease-in-out;
}

.header a:hover{
    opacity: 0.6;
}




.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;
    cursor: pointer;  
    transition: 0.5s all ease-in-out;
}




.profil-cart {
    border-radius: 5px;
    position: relative;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
}
.profil-cart h4{
    display: flex;
    justify-content: center;
}
.info-perso{
    display: flex;
    justify-content: space-around;
}

img {
    float: right;
}

@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.cyan:hover{
    border-top: 10px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.red:hover{
    border-top: 10px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.blue:hover {
    border-top: 10px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}
.orange:hover {
    border-top: 10px solid var(--orange);
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
     
    }
   
    
}