html
  // Entête du document HTML
  head
    meta(charset='utf-8')
    title OTEM APP
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='static/lib/bootstrap-5.3.0-alpha1-dist/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css' rel='stylesheet' crossorigin='anonymous')
    script(src='static/lib/jquery-3.6.4.min.js')
    link(rel='stylesheet' href='static/css/style.css')
    link(rel='stylesheet' href='static/lib/leaflet/leaflet.css' crossorigin='')
    script(src='static/lib/leaflet/leaflet.js' crossorigin='')
    link.logo(rel='icon' href='static/img/logo.jpg' type='image/x-icon')
  // Corps du document HTML
  body.bg-white.w-100
    // Barre de navigation
    header#header.w-100
      nav#navH.navbar.navbar-expand-lg.bg-white.w-100
        .container-fluid
          a.navbar-brand(href='#')
            img.logo(src='static/img/logo.jpg' style='width: 150px;' alt='Logo Agglo')
          div
            ul.navbar-nav
              // Lien menant vers la page d'accueil
              li.nav-item
                a#cH.nav-link.active.fs-5.me-3(aria-current='page' href='capt1' style="font-family: 'Caviar';") Capteur 1
              // Lien menant vers la page des graphiques
              li.nav-item
                a#gH.nav-link.active.fs-5.me-3(aria-current='page' href='capt2' style="font-family: 'Caviar';") Capteur 2
    // Changer le thème de l'application
    div(style='display:flex;justify-content:center;align-items:center')
      .form-check.form-switch.form-check-reverse.container-fluid
        img.sun.mt-2(src='static/img/light_sun.png' style='width: 40px;height: 40px' alt='sun')
        input#flexSwitchCheckReverse.form-check-input.mt-3(type='checkbox' style='width: 60px;height: 30px;')
      img.moon.mt-2(src='static/img/light_moon.png' style='width: 40px;height: 40px; margin-right:5px' alt='moon')
    // Carte Leaflet
    ul
      each panelId in title
        iframe(width='650', height='400', frameborder='0', src=panelId)

    // Footer de l'application
    footer.fixed-bottom.w-100
      #footer.container-fluid.d-flex.justify-content-between.align-items-center.bg-light
        p#footerName.m-0(style="text-align: center; font-family: 'Caviar';")
          | Benjamin Le Bouëdec
          br
          | Clément
          |         Maillet
          br
          | Matteo Le Poupon
          br
          | Sophie Bertrand
        p#footerCentre.m-0.align-self-center(style="text-align: center; font-family: 'Caviar';")
          | IUT de
          | Vannes
          br
          | 2022 - 2023
        a.justify-content-end(href='#')
          img.logo(src='static/img/logo.jpg' alt='Logo Agglo' style='width: 130px;')
    script(type='module' src='static/js/script.js')
    style.
      @font-face {
      font-family: 'Caviar';
      src: url('static/fonts/CaviarDreams_BoldItalic.ttf') format('truetype');
      }
  // Configuration de la police de caractère
