
link(rel='stylesheet', href='/stylesheets/header.css')
style.
    @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

.header
  a(href='/capt1') Capteur 1
  a(href='/capt2') Capteur 2 
